{% load static %}
{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>LoFo</title>
      <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/icons.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">  
      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
   </head>
   <body class="size-1520">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
               <div class="s-12 l-2">
                  <img class="full-img logo" src="{% static "img/logo.png" %}"  width="10" height="10">
               </div>
               <div class="s-12 l-8 right">
                  <div class="margin">
                     <form  class="customform s-12 l-8" method="get" action="http://google.com/">
                        <div class="s-9"><input type="text" placeholder="Search form" title="Search form" /></div>
                        <div class="s-3"><button type="submit">Search</button></div>
                     </form>
                     <div class="s-12 l-4">
                        <p class="right login"><i class="icon-sli-basket"></i><a class="btn btn-primary" href=""> Login / Register</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% include "navbar.html" %}
         
               <!-- CONTENT -->
               <section class="s-12 m-8 l-9 xl-10">   
                       
                  <!-- CAROUSEL -->  
                  <div class="line hide-s">
                    <div id="header-carousel" class="owl-carousel owl-theme">
                       <div class="item"><img src="{% static 'img/header-1.svg' %}" alt=""></div>
                       <div class="item"><img src="{% static 'img/header-2.svg' %}" alt=""></div>
                       <div class="item"><img src="{% static 'img/header-3.svg' %}" alt=""></div>
                    </div>
                  </div>                  
                  <!-- Breadcrumb -->
                  
                  <nav class="breadcrumb-nav">
                    <ul>
                      <li><a href="/"><i class="icon-sli-home"></i></a></li>
                      <li><a href="/">Catalogue</a></li>
                      <li><a href="/">First Category</a></li>
                      <li><span>Sub Category 1</span></li>
                    </ul>
                  </nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <b><li{% if message.tags %} class="alert alert-success"{% endif %}></b>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


                  {% block body %}

                  <h1 class="margin-bottom">Items</h1>
                  <!-- Pruducts -->
                  
                  
                  
                  <div class="margin2x">

                  {% for product in data %}
                  
                  
                     <div class="s-12 m-12 l-4 xl-3 xxl-3">
                        <a href="/"><img class="full-img" src="{{product.image.url}}"></a>
                        {% if product.lostorfound == True %}
                        <h5>İtirmişəm</h5>
                        
                        
                        {% else %}
                        Tapmışam
                        {% endif %}
                        <h5>{{product.fullname}}</h5>
                        <a href="/"><h4 class="margin-bottom"><strong>{{product.title}}</strong></h4></a>
                        <p class="margin-bottom">Məkan: {{product.location}}</p>

                        <form class="customform s-12 margin-bottom2x" action="">
                           <div><a href="#" class="button rounded-btn submit-btn s-12" type="submit">More Details</a></div>
                        </form>
                         
                     </div>

                     {% endfor %}
                     
                  </div>


                  
                 
                  
                  {% endblock body %}


                 
               </section>
                
            </div>
         </div>
      </div>
      
      {% include "footer.html" %}