<!-- TOP NAV -->  
         <div class="line">
            <nav>
               <div class="top-nav">
                  <ul class="right">
                     <li><a>Home</a></li>
                     <li>
                        <a>Catalogue</a>
                        <ul>
                          <li><a>First Category</a></li>
                          <li><a>Second Category</a></li>
                          <li><a>Third Category</a></li>
                          <li><a>Fourth Category</a></li>
                          <li><a>Fifth Category</a></li>
                          <li><a>Sixth Category</a></li>
                       </ul>
                     </li>
                     <li>
                        <a>Company</a>
                        <ul>
                           <li><a>About</a></li>
                           <li><a>Location</a></li>
                        </ul>
                     </li>
                     <li><a>Contact</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- ASIDE NAV AND CONTENT -->
      <div class="line">
         <div class="box margin-bottom">
            <div class="margin2x">
               <!-- ASIDE NAV -->
               <aside class="s-12 m-4 l-3 xl-2">
                  <h4 class="margin-bottom">Select Category</h4>
                  <div class="aside-nav minimize-on-small">
                     <p class="aside-nav-text">Select Category</p>
                     <ul>
                        <li><a>First Category</a></li>
                        <li>
                           <a>Second Category</a>
                           <ul>
                              <li><a>Sub Category 1</a></li>
                              <li><a>Sub Category 2</a></li>
                              <li>
                                 <a>Sub Category 3</a>
                                 <ul>
                                    <li><a>Sub Sub Category 1</a></li>
                                    <li><a>Sub Sub Category 2</a></li>
                                    <li><a>Sub Sub Category 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li>
                           <a>Third Category</a>
                           <ul>
                              <li><a>Sub Category 1</a></li>
                              <li><a>Sub Category 2</a></li>
                              <li>
                                 <a>Sub Category 3</a>
                                 <ul>
                                    <li><a>Sub Sub Category 1</a></li>
                                    <li><a>Sub Sub Category 2</a></li>
                                    <li><a>Sub Sub Category 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li><a>Fourth Category</a></li>
                        <li>
                           <a>Fifth Category</a>
                           <ul>
                              <li><a>Sub Category 1</a></li>
                              <li><a>Sub Category 2</a></li>
                              <li>
                                 <a>Sub Category 3</a>
                                 <ul>
                                    <li><a>Sub Sub Category 1</a></li>
                                    <li><a>Sub Sub Category 2</a></li>
                                    <li><a>Sub Sub Category 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li>
                           <a>Sixth Category</a>
                           <ul>
                              <li><a>Sub Category 1</a></li>
                              <li><a>Sub Category 2</a></li>
                              <li>
                                 <a>Sub Category 3</a>
                                 <ul>
                                    <li><a>Sub Sub Category 1</a></li>
                                    <li><a>Sub Sub Category 2</a></li>
                                    <li><a>Sub Sub Category 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </aside>